In [1]:
#I start by importing pandas, numpy modules

In [2]:
import pandas as pd
import numpy as np

In [3]:
# I load the tsv file
df = pd.read_csv('C:\\Users\\smasango\\Desktop\\Portland Data Science\\toxicity_annotated_comments_unanimous.tsv', header=0, sep="\t")

In [4]:
# display the first few rows
df.tail()
df.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,527004.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE...,2002,True,user,random,test
1,603474.0,`:Here I cannot answer your questions. I did ...,2003,True,article,random,train
2,808576.0,"NEWLINE_TOKENNEWLINE_TOKENIn fact, I've just d...",2003,True,user,random,dev
3,986363.0,16:13 1 Jun 2003 (UTC),2003,True,article,random,train
4,1433843.0,NEWLINE_TOKENNEWLINE_TOKEN:I replied on .,2003,True,user,random,train

In [5]:
# remove text that keeps appearing again but does not influence toxicity score
df['comment'] = df['comment'].str.replace('NEWLINE_TOKEN',' ')
df['comment'] = df['comment'].str.replace('TAB_TOKEN',' ')
df['comment'] = df['comment'].str.replace('Wikipedia',' ')
df['comment'] = df['comment'].str.replace('UTC',' ')
df['comment'] = df['comment'].str.replace('wikipedia',' ')

In [6]:
df.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,527004.0,Is something like Managing_Urban_America g...,2002,True,user,random,test
1,603474.0,`:Here I cannot answer your questions. I did ...,2003,True,article,random,train
2,808576.0,"In fact, I've just done it for you.",2003,True,user,random,dev
3,986363.0,16:13 1 Jun 2003 ( ),2003,True,article,random,train
4,1433843.0,:I replied on .,2003,True,user,random,train

In [7]:
# Above file does not have toxicity score. Below I open file with toxicity score
df2 = pd.read_csv('C:\\Users\\smasango\\Desktop\\Portland Data Science\\toxicity_annotations_unanimous.tsv', header = 0, sep = "\t")

In [9]:
df2.head(11)

      rev_id  worker_id  toxicity  toxicity_score
0   527004.0       3802         0             0.0
1   527004.0       3942         0             0.0
2   527004.0        590         0             0.0
3   527004.0        481         0             0.0
4   527004.0       3944         0             0.0
5   527004.0       4172         0             0.0
6   527004.0       2419         0             0.0
7   527004.0       3323         0             0.0
8   527004.0       2851         0             0.0
9   527004.0       4175         0             0.0
10  603474.0       3278         0             0.0

In [10]:
# There are 10 scores for each comment. Below I group toxicity scores by rev_id
uniqueScores = df2[["rev_id", "toxicity_score"]].groupby("rev_id", as_index=False).first()

In [11]:
uniqueScores.head(11)

       rev_id  toxicity_score
0    527004.0             0.0
1    603474.0             0.0
2    808576.0             0.0
3    986363.0             0.0
4   1433843.0             0.0
5   1988528.0             0.0
6   1988988.0             0.0
7   2078042.0             0.0
8   2747887.0             0.0
9   2850252.0             0.0
10  3072376.0             0.0